[Unit]
Description = Cart Service
[Service]
User=roboshop
// highlight-start
Environment=REDIS_HOST=172.31.8.230 # <REDIS-SERVER-IP>
Environment=CATALOGUE_HOST=172.31.2.140 # <catalogue ip>
Environment=CATALOGUE_PORT=8080
// highlight-end
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target